<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Login from</title>

    <script type="text/javascript" th:inline="javascript">
        function initMap() {
            /*<![CDATA[*/
            var points =/*[[${actualAndMinValues}]]*/ null;
            console.log(points);
            /*]]>*/

            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: {lat: 52.4344672, lng: 19.9635712},
                zoom: 6,
                mapTypeId: 'terrain'
            });

            for (i = 0; i < points.length; i++) {
                var point = points[i];
                console.log(point);
                var coordinates = {lat: parseFloat(point.lat), lng: parseFloat(point.lng)};
                var color;
                if (point.danger) {
                    color = '#ff0000'
                } else if (point.warning) {
                    color = '#ffe000'
                } else {
                    color = '#00b413'
                }

                var circle = new google.maps.Circle({
                    strokeColor: '#1d1d1d',
                    strokeOpacity: 1,
                    strokeWeight: 1,
                    fillColor: color,
                    fillOpacity: 0.65,
                    map: map,
                    center: coordinates,
                    radius: 2000
                });
            }

        }
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIlhefXdQwH7Eq9YFBHoIXDInMITZ264A&callback=initMap">
    </script>
</head>
<body onload="initMap()">
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container-fluid">

    <div class="row flex-xl-nowrap">

        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <img th:if="${account.photo != null}"
                         th:src="@{'data:image/png;base64,' + ${(account.getBase64StringPhoto())}}"
                         class="img-fluid rounded-circle" alt="Responsive image"><br>
                    <h5><span th:text="${account.firstName} + ' ' + ${account.lastName}"></span></h5><br>
                    <h5><span th:text="${account.phoneNumber}"></span></h5><br>
                    <h5><span th:text="${account.email}"></span></h5><br>

                    <div class="row">
                        <div class="col-md-6">
                            <a th:href="@{/account/details/edit}">
                                <button class="btn btn-outline-primary">Edit</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a th:href="@{/account/addPhoto}">
                                <button class="btn btn-outline-primary">Photo</button>
                            </a>
                        </div>
                    </div>


                    <!--user details-->
                </div>

                <div class="col-md-9">
                    <!--user boats and others-->

                    <th:block th:if="${account.defaultBoat != null}">

                        <div class="row justify-content-center">
                            <h3> Your default boat:</h3>
                        </div>
                        <div class="row">
                            <div class="col col-md-3">
                                <div class="row">
                                    <img th:if="${account.defaultBoat.photo != null}"
                                         th:src="@{'data:image/png;base64,' + ${(account.defaultBoat.getBase64StringPhoto())}}"
                                         class="img-fluid rounded-pill padding" alt="Responsive image"><br>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="row">
                                    <h4 class="padding">Model: <span th:text="${account.defaultBoat.model}"></span></h4>
                                </div>
                                <!--<div class="row">-->
                                    <!--<p class="font-weight-bold">Immersion: <span-->
                                            <!--th:text="${account.defaultBoat.immersion}"></span></p>-->
                                <!--</div>-->
                                <div class="row">
                                    <p><span th:text="${account.defaultBoat.comment}"> </span></p>
                                </div>
                            </div>
                        </div>

                        <div class="row bottom-line">

                            <h4>Measure points states for default boat</span> </h4>

                            <div id="map_canvas" style="height: 600px; width: 100%"></div>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id point</th>
                                    <th scope="col">Point name</th>
                                    <th scope="col">River name</th>
                                    <th scope="col">Water state</th>
                                    <th scope="col">Measure date</th>
                                    <th scope="col">Your warning level</th>
                                    <th scope="col">Your minimum level</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pointState : ${actualAndMinValues}" th:class="${pointState.danger} ? 'table-danger' : (${pointState.warning} ? 'table-warning' : 'table-success')">
                                    <td th:text="${pointState.measurePoint.id}"></td>
                                    <td th:text="${pointState.measurePoint.pointName}"></td>
                                    <td th:text="${pointState.measurePoint.riverName}"></td>
                                    <td th:text="${pointState.waterState}"></td>
                                    <td th:text="${pointState.measureDateTime}"></td>
                                    <td th:text="${pointState.warningValue}"></td>
                                    <td th:text="${pointState.minimumValue}"></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>


                    </th:block>


                </div>

            </div>


        </div>


        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>
    </div>

</div>


<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>