<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Registration from</title>
</head>
<body>
<div class="container">
    <th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

    <h1>Registration form</h1>

    <form class="form-group" th:action="@{/account/register}" th:object="${account}" th:method="post">

        <div th:if="${errorMessage != null}" class="row col-md-12">
            <div class="col-md-12" th:text="${errorMessage}"></div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label for="username">Username</label>
                <input class="form-control" id="username" type="text" th:field="${account.username}"
                       placeholder="Username">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" th:field="${account.password}"
                       placeholder="Password">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="password-confirm">Repeat password</label>
                <input class="form-control" id="password-confirm" type="password" th:name="passwordConfirm"
                       placeholder="Password">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <input type="reset" class="btn btn-outline-secondary">Reset</input>
            </div>


            <div class="col-md-2">
                <input type="submit" class="btn btn-outline-primary">Submit</input>
            </div>
        </div>


    </form>


</div>


</body>
</html>