<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>
    <meta charset="UTF-8">
    <title>Measure points states with minimum values</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>


<div class="container-fluid">

    <div class="row flex-xl-nowrap">

        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>

        <div class="col-md-8">

            <div class="bottom-line justify-content-center">
                <h1>Measure points states for <span th:text="${boat.model}"></span></h1>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id point</th>
                    <th scope="col">Point name</th>
                    <th scope="col">River name</th>
                    <th scope="col">Water state</th>
                    <th scope="col">Measure date</th>
                    <th scope="col">Your warning level</th>
                    <th scope="col">Your minimum level</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pointState : ${actualAndMinValues}"
                    th:class="${pointState.danger} ? 'table-danger' : (${pointState.warning} ? 'table-warning' : 'table-success')">
                    <td th:text="${pointState.measurePoint.id}"></td>
                    <td th:text="${pointState.measurePoint.pointName}"></td>
                    <td th:text="${pointState.measurePoint.riverName}"></td>
                    <td th:text="${pointState.waterState}"></td>
                    <td th:text="${#temporals.format(pointState.measureDateTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${pointState.warningValue}"></td>
                    <td th:text="${pointState.minimumValue}"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>
    </div>

</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>

</body>
</html>