<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Boat add form</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container-fluid">

    <div class="container-fluid">

        <div class="row flex-xl-nowrap">

            <div class="col-md-2">
                <!--<p>sidebar left</p>-->
            </div>

            <div class="col-md-8">
                <h1>Boat form</h1>

                <form class="form-group" th:action="@{/boat/add}" th:object="${boat}" th:method="post">
                    <div th:if="${errorMessage != null}" class="row col-md-12">
                        <div class="col-md-12" th:text="${errorMessage}"></div>
                    </div>

                    <input th:type="hidden" th:value="${boat.id}" th:field="${boat.id}">
                    <input th:type="hidden" th:value="${boat.photo}" th:field="${boat.photo}">
                    <input th:type="hidden" th:value="${boat.account}" th:field="${boat.account}">


                    <div class="row">
                        <div class="col-md-4">
                            <label for="model">Model</label>
                            <input class="form-control" id="model" type="text" th:field="${boat.model}"
                                   th:value="${boat.model}" placeholder="Model">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="immersion">Immersion</label>
                            <input class="form-control" id="immersion" type="number" th:field="${boat.immersion}"
                                   th:value="${boat.immersion}" placeholder="Immersion">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="comment">Comment</label>
                            <textarea class="form-control" rows="8" id="comment" th:field="${boat.comment}"
                                      th:value="${boat.comment}" placeholder="comment"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <button type="reset" class="btn btn-outline-primary">Reset</button>
                        </div>


                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-2">
                <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
            </div>
        </div>

    </div>











</div>


<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>