<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Boat add form</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>


<div class="container-fluid">

    <div class="row flex-xl-nowrap">

        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>

        <div class="col-md-8">
            <div class="row row-boat-list border">

                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <h2><span th:text="${boat.model}"></span></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-3">


                        <!--<th:block >-->
                        <img th:if="${boat.photo == null || boat.photo.length < 1}"
                             src="../static/images/defaultboatimg.jpg" th:src="@{/images/defaultboatimg.jpg}"
                             class="img-fluid img-max-height rounded-lg padding border"/>
                        <img th:if="${boat.photo != null && boat.photo.length > 1}"
                             th:src="@{'data:image/png;base64,' + ${boat.getBase64StringPhoto()}}"
                             class="img-fluid img-max-height rounded-lg padding border"/>
                        <!--</th:block>-->
                        <!--<img th:if="${boat.photo==null}" src="../static/images/arrowGreen.png" height="70" width="70" th:src="@{/images/arrowGreen.png}"/>-->

                        <!--<img th:if="${boat.photo != null}"-->
                        <!--th:src="@{'data:image/png;base64,' + ${Base64.encodeToString(boat.photo)}}"-->
                        <!--class="img-fluid rounded-lg padding" alt="Responsive image">-->

                    </div>

                    <div class="col-md-7">
                        <div class="row">
                            <h4 class="padding">Immersion: <span th:text="${boat.immersion}"></span></h4>
                        </div>
                        <div class="row">
                            <p class="padding"><span th:text="${boat.comment}"> </span></p>
                        </div>
                    </div>

                    <div class="row col-md-2 flex-column">
                        <a th:href="@{'/boat/addPhoto/' + ${boat.id}}">
                            <button class="btn btn-outline-primary btn-sm btn-block">Edit photo</button>
                        </a>

                        <a th:href="@{'/boat/edit/' + ${boat.id}}">
                            <button class="btn btn-outline-primary btn-sm btn-block">Edit boat</button>
                        </a>

                        <a th:href="@{'/boat/delete/' + ${boat.id}}">
                            <button class="btn btn-outline-primary btn-sm btn-block">Delete boat</button>
                        </a>

                    </div>
                </div>
            </div>


            <div class="row col-md-12">
                <h3 class="bottom-line">Minimum values defined for boat</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id point</th>
                        <th scope="col">Point name</th>
                        <th scope="col">River name</th>
                        <th scope="col">Minimum state</th>
                        <th scope="col">Warning state</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="minValue : ${minValues}">
                        <td th:text="${minValue.measurePoint.id}"></td>
                        <td th:text="${minValue.measurePoint.pointName}"></td>
                        <td th:text="${minValue.measurePoint.riverName}"></td>
                        <td th:text="${minValue.minimumValue}"></td>
                        <td th:text="${minValue.warningValue}"></td>
                        <td><a th:href="@{'/minimumValue/edit/' + ${minValue.id}}">
                            <button class="btn btn-outline-primary">Edit</button>
                        </a></td>
                        <td><a th:href="@{'/measurePoint/details/' + ${minValue.measurePoint.id}}">
                            <button class="btn btn-outline-primary">Details</button>
                        </a></td>

                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <a th:href="@{'/minimumValue/add/' + ${boat.id}}">
                        <button class="btn btn-outline-primary btn-block">Add min value</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>

    </div>


</div>

</div>


<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>