<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Boat add form</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>

        <div class="col-md-8">
            <div class="row bottom-line justify-content-center">
                <h1>Your boats</h1>
            </div>
            <div class="row row-boat-list border" th:each="boat : ${boats}">
                <div class="col col-md-3">
                    <div class="row">
                        <img th:if="${boat.photo == null || boat.photo.length < 1}"
                             src="../static/images/defaultboatimg.jpg" th:src="@{/images/defaultboatimg.jpg}"
                             class="img-fluid img-max-height rounded-lg padding border"/>
                        <img th:if="${boat.photo != null && boat.photo.length > 1}"
                             th:src="@{'data:image/png;base64,' + ${boat.getBase64StringPhoto()}}"
                             class="img-fluid img-max-height rounded-lg padding border"/>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row padding">
                        <h4>Model: <span th:text="${boat.model}"></span></h4>
                    </div>
                    <div class="row padding">
                        <p><span th:text="${boat.comment}"> </span></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <a th:href="@{'/boat/details/' + ${boat.id}}">
                        <button class="btn btn-outline-secondary btn-sm btn-block">Details</button>
                    </a>
                    <th:block th:if="${boat.id != defaultBoatId}">
                        <a th:href="@{'/boat/setDefault/' + ${boat.id}}">
                            <button class="btn btn-outline-secondary btn-sm btn-block">Set as default</button>
                        </a>
                    </th:block>
                    <a th:href="@{'/minimumValue/actualStates/' + ${boat.id}}">
                        <button class="btn btn-outline-secondary btn-sm btn-block">Actual states</button>
                    </a>
                </div>
            </div>
            <div class="row padding">
                <a th:href="@{/boat/add}">
                    <button class="btn btn-outline-primary">Add boat</button>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>