<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Main</title>

    <script type="text/javascript" th:inline="javascript">
        function initMap() {
            /*<![CDATA[*/
            var points =/*[[${points}]]*/ null;
            console.log(points);
            /*]]>*/

            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: {lat: 52.4344672, lng: 19.9635712},
                zoom: 6,
                mapTypeId: 'terrain'
            });

            for (i = 0; i < points.length; i++) {
                var point = points[i];
                console.log(point);
                var up = point.upTendency;
                var down = point.downTendency;
                var coordinates = {lat: parseFloat(point.lat), lng: parseFloat(point.lng)};
                // var circle = new google.maps.Circle({
                //     strokeColor: '#ff0000',
                //     strokeOpacity: 0.8,
                //     strokeWeight: 2,
                //     fillColor: '#ff0000',
                //     fillOpacity: 0.35,
                //     map: map,
                //     center: coordinates,
                //     radius: 500
                // });
                if (up) {
                    var marker = new google.maps.Marker({
                        position: coordinates,
                        icon: {
                            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                            scale: 3,
                            fillColor: '#00b413',
                            fillOpacity: 0.55,
                            strokeColor: '#00b413'
                        },
                        draggable: false,
                        map: map
                    });
                } else if (down) {
                    var marker = new google.maps.Marker({
                        position: coordinates,
                        icon: {
                            path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                            scale: 3,
                            fillColor: '#ff0000',
                            fillOpacity: 0.55,
                            strokeColor: '#ff0000'
                        },
                        draggable: false,
                        map: map
                    });
                } else {
                    var marker = new google.maps.Marker({
                        position: coordinates,
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 4,
                            fillColor: '#0008ff',
                            fillOpacity: 0.55,
                            strokeColor: '#0008ff'
                        },
                        draggable: false,
                        map: map
                    });
                }


            }

        }
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIlhefXdQwH7Eq9YFBHoIXDInMITZ264A&callback=initMap">
    </script>
</head>
<body onload="initMap()">

<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>


<div class="container-fluid">

    <div class="row flex-xl-nowrap">

        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>

        <div class="col-md-8">
            <th:block sec:authorize="!isAuthenticated()">
                <h1>Hello, please log in.</h1>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <h1>Hello, <span th:text="${username}"></span></h1>
            </th:block>

            <div id="map_canvas" style="height: 800px; width: 100%"></div>


        </div>
        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>
    </div>

</div>
<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>