<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>
    <meta charset="UTF-8">
    <title>Measure point details</title>


    <script type="text/javascript" th:inline="javascript">
        function initMap() {

            /*<![CDATA[*/
            var point =/*[[${point}]]*/ null;
            var coordinates = {lat: parseFloat(point.lat), lng: parseFloat(point.lng)};
            /*]]>*/


            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: coordinates,
                zoom: 15,
                mapTypeId: 'terrain'
            });

            var circle = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                center: coordinates,
                radius: 10
            });

            // var marker = new google.maps.Marker({
            //     position: coordinates,
            //     map: map,
            //     title: 'Hello World!'
            // });


        }
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIlhefXdQwH7Eq9YFBHoIXDInMITZ264A&callback=initMap">
    </script>

</head>
<body onload="initMap()">
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<!--<script th:inline="javascript">-->
<!---->

<!--</script>-->


<div class="container-fluid">

    <div class="row flex-xl-nowrap">

        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>

        <div class="col-md-8">
            <h1>Measure point details</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Point</th>
                    <th scope="col">River</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Latitude</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${point.id}"></td>
                    <td th:text="${point.pointName}"></td>
                    <td th:text="${point.riverName}"></td>
                    <td th:text="${point.lng}"></td>
                    <td th:text="${point.lat}"></td>
                </tr>
                </tbody>
            </table>

            <div class="row" style="height: 600px">
                <div class="col-md-6">
                    <div id="map_canvas" style="height: 90%; width: 90%"></div>
                </div>
                <div class="col-md-6">
                    <h3>Latest water states</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Date time</th>
                            <th scope="col">State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pointState : ${states}">
                            <td th:text="${#temporals.format(pointState.measureDateTime, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${pointState.waterState}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <th:block th:if="${boats != null && !boats.isEmpty()}">
                    <div class="row row-boat-list border" th:each="boatWithMinValues : ${boats}">

                        <div class="col col-md-3">
                            <div class="row">
                                <img th:if="${boatWithMinValues.boat.photo == null || boatWithMinValues.boat.photo.length < 1}"
                                     src="../static/images/defaultboatimg.jpg" th:src="@{/images/defaultboatimg.jpg}"
                                     class="img-fluid img-max-height rounded-lg padding border"/>
                                <img th:if="${boatWithMinValues.boat.photo != null && boatWithMinValues.boat.photo.length > 1}"
                                     th:src="@{'data:image/png;base64,' + ${boatWithMinValues.boat.getBase64StringPhoto()}}"
                                     class="img-fluid img-max-height rounded-lg padding border"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row padding">
                                <h4>Model: <span th:text="${boatWithMinValues.boat.model}"></span></h4>
                            </div>
                            <div class="row padding">
                                <h5>Warning value for this boat:<span
                                        th:text="${boatWithMinValues.warningValue}"> </span></h5>
                                <h5>Minimum walue for this boat: <span
                                        th:text="${boatWithMinValues.minimumValue}"> </span></h5>
                            </div>
                        </div>

                        <div class="col col-md-2 align-items-center">
                            <div class="row ">
                                <div class="col">
                                    <img th:if="${actualState > boatWithMinValues.warningValue}"
                                         src="../static/images/greenlight.png" th:src="@{/images/greenlight.png}"
                                         style="height: 160px; width: auto"/>
                                    <img th:if="${actualState <= boatWithMinValues.warningValue && actualState > boatWithMinValues.minimumValue}"
                                         src="../static/images/yellowlight.png" th:src="@{/images/yellowlight.png}"
                                         style="height: 160px; width: auto"/>
                                    <img th:if="${actualState <= boatWithMinValues.minimumValue}"
                                         src="../static/images/redlight.png" th:src="@{/images/redlight.png}"
                                         style="height: 160px; width: auto"/>
                                </div>
                            </div>
                        </div>

                    </div>

                </th:block>
                <th:block th:if="${boats == null || boats.isEmpty()}">
                    <h3>You have not defined minimum values for that measure point for any of your boats</h3>
                </th:block>

            </div>
        </div>

        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>
    </div>

</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>

</body>
</html>