<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>

    <meta charset="UTF-8">
    <title>Add minimum value</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container-fluid">

    <div class="container-fluid">

        <div class="row flex-xl-nowrap">

            <div class="col-md-2">
                <!--<p>sidebar left</p>-->
            </div>

            <div class="col-md-8">
                <h1 class="bottom-line">Add minimum value</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div th:if="${errorMessage != null}">
                            <div class="alert alert-primary padding" role="alert" th:text="${errorMessage}"></div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end">
                        <nav class="navbar navbar-light">
                            <form class="form-inline my-2 my-lg-0" th:action="@{/minimumValue/searchMeasurePoints}"
                                  th:method="post">
                                <input type="hidden" name="boatId" th:value="${minValue.boat.id}">
                                <input class="form-control mr-sm-2" name="input" type="search"
                                       placeholder="Search">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </nav>
                    </div>

                </div>


                    <form class="form-group" th:action="@{/minimumValue/add}" th:object="${minValue}" th:method="post">


                        <input th:type="hidden" th:value="${minValue.boat}" th:field="${minValue.boat}">
                        <input th:type="hidden" th:value="${minValue.id}" th:field="${minValue.id}">

                        <div class="row padding">
                            <div class="col-md-12">
                                <label for="measurePoint">Choose measure point</label>
                                <select id="measurePoint" class="custom-select mr-sm-2" th:field="${minValue.measurePoint}">
                                    <option th:each="measurePoint : ${measurePoints}"
                                            th:text="${measurePoint.pointName + ' / ' + measurePoint.riverName}"
                                            th:value="${measurePoint.id}"></option>
                                </select>
                            </div>
                        </div>

                <div class="row padding">
                    <div class="col-md-6">
                        <label for="min-state">Minimum state</label>
                        <input class="form-control" id="min-state" type="number" th:field="${minValue.minimumValue}"
                               th:value="${minValue.minimumValue}" placeholder="minimum state">
                    </div>
                    <div class="col-md-6">
                        <label for="warn-state">Warning state</label>
                        <input class="form-control" id="warn-state" type="number"
                               th:field="${minValue.warningValue}"
                               th:value="${minValue.warningValue}" placeholder="warning state">
                    </div>
                </div>

                <div class="row padding">
                    <div class="col-md-6 justify-content-center">
                        <button type="reset" class="btn btn-outline-primary btn-block">Reset</button>
                    </div>


                    <div class="col-md-6 justify-content-center">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>


                </form>
            </div>
            <div class="col-md-2">
                <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
            </div>
        </div>

    </div>


</div>


<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>