<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: head-fragment" th:remove=""></th:block>
    <meta charset="UTF-8">
    <title>Routes</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-2">
            <!--<p>sidebar left</p>-->
        </div>
        <div class="col-md-8">
            <h1>Routes</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Author</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="route : ${routes}">
                    <td>
                        <img th:if="${route.thumbnail != null}"
                             th:src="@{'data:image/png;base64,' + ${(route.getBase64Thumbnail())}}"
                             class="img-thumbnail" alt="Responsive image"><br>
                    </td>
                    <td th:text="${route.getName()}"></td>
                    <td th:text="${route.getComment()}"></td>
                    <td th:text="${route.getAccount().getUsername()}"></td>
                    <td>
                        <a th:href="@{'/route/details/' + ${route.id}}">
                            <button class="btn btn-outline-secondary btn-sm btn-block">Details</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row justify-content-end">
                <a th:href="@{/route/add}">
                    <button class="btn btn-outline-primary">Add route</button>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <th:block th:replace="fragments :: right-sidebar" th:remove="tag"></th:block>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>